.main {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.otherContent {
  background-color: aqua;
  z-index: 2;
}

.tooltip {
  display: flex;
  align-items: center;
  gap: 5px;
}